---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SocialPill from "../components/SocialPill.astro";
import LinkedInIcon from "../components/icons/LinkedIn.astro";
import GitHubIcon from "../components/icons/GitHub.astro";
import MailIcon from "../components/icons/Mail.astro";
import BriefcaseIcon from "../components/icons/Briefcase.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Experience from "../components/Experiencie.astro";
import Projects from "../components/Projects.astro";
import CodeIcon from "../components/icons/Code.astro";
---

<Layout
  title="Portfolio de Tomás Salto - Desarrollador y Programador Web"
  description="Contratá a Tomás Salto para crear tu aplicacion web. Desarrollador Web. Especializado en crear aplicaciones únicas."
>
  <main class="px-4">
    <SectionContainer class="py-44 pb-32">
      <h1
        class="text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        Hola, soy Tomás <a
          href="https://www.linkedin.com/in/tomas-agustin-salto-2585b6170/"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-xl lg:text-2xl text-wrap max-w-[700px]">
        <span class="text-yellow-200">Desarrollador web.</span>
        <span class="text-sky-400"> De Neuquén, Argentina.</span> Especializado en
        crear aplicaciones unicas.
      </h2>
      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill
          href="https://www.linkedin.com/in/tomas-agustin-salto-2585b6170/"
        >
          <LinkedInIcon class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>

        <SocialPill href="https://github.com/tomassalto">
          <GitHubIcon class="size-4 md:size-6" />
          GitHub
        </SocialPill>

        <SocialPill href="mailto:tomasagustinsalto@gmail.com">
          <MailIcon class="size-4 md:size-6" />
          tomasagustinsalto@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <BriefcaseIcon class="size-6" />
        Experiencia laboral
      </h2>

      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
        <CodeIcon class="size-6" />
        Proyectos
      </h2>

      <Projects />
    </SectionContainer>
  </main>
</Layout>
