---
import SkillsIcon from "./icons/SkillsIcon.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
type tLang = (str: any) => any;
const lang = getLangFromUrl(Astro.url);
const t: tLang = useTranslations(lang);
---

<div>
  {t("skills.title")}
</div>
