---
import GitHubIcon from "../components/icons/GitHub.astro";
import AstroIcon from "../components/icons/stack/AstroIcon.astro";
import CSSIcon from "../components/icons/stack/CSS.astro";
import ExpressIcon from "../components/icons/stack/Express.astro";
import GitIcon from "../components/icons/stack/Git.astro";
import HtmlIcon from "../components/icons/stack/Html.astro";
import JavaScriptIcon from "../components/icons/stack/JavaScript.astro";
import LaravelIcon from "../components/icons/stack/Laravel.astro";
import MySQLIcon from "../components/icons/stack/MySQL.astro";
import NextJSIcon from "../components/icons/stack/NextJS.astro";
import NodeJSIcon from "../components/icons/stack/NodeJS.astro";
import NpmIcon from "../components/icons/stack/Npm.astro";
import PHPIcon from "../components/icons/stack/PHP.astro";
import ReactJSIcon from "../components/icons/stack/ReactJS.astro";
import TailwindIcon from "../components/icons/stack/Tailwind.astro";
import TypeScriptIcon from "../components/icons/stack/TypeScript.astro";
import VSCodeIcon from "../components/icons/stack/VSCode.astro";

import Container from "../components/Container.astro";

const MY_STACK = {
  frontend: [
    { name: "HTML", icon: HtmlIcon },
    { name: "CSS", icon: CSSIcon },
    { name: "JavaScript", icon: JavaScriptIcon },
    { name: "ReactJS", icon: ReactJSIcon },
    { name: "TailwindCSS", icon: TailwindIcon },
  ],
  backend: [
    { name: "PHP", icon: PHPIcon },
    { name: "NodeJS", icon: NodeJSIcon },
    { name: "Laravel", icon: LaravelIcon },
    { name: "ExpressJS", icon: ExpressIcon },
    { name: "MySQL", icon: MySQLIcon },
    { name: "Next.js", icon: NextJSIcon },
  ],
  learning: [
    { name: "Astro", icon: AstroIcon },
    { name: "TypeScript", icon: TypeScriptIcon },
  ],
  tools: [
    { name: "Git", icon: GitIcon },
    { name: "GitHub", icon: GitHubIcon },
    { name: "VSCode", icon: VSCodeIcon },
    { name: "Npm", icon: NpmIcon },
  ],
};
---

<section class="flex items-center justify-center py-4 md:py-8 flex-wrap">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-x-8">
    <div class="py-9 px-1">
      <div
        class="relative rounded-2xl p-6 dark:border dark:border-dark-900 py-9 px-4 h-full flex flex-col justify-between"
      >
        <h3
          class="text-center mb-8 text-xl font-bold lg:text-4xl lg:break-words bg-gradient-to-t from-[#54fbff] to-[#00a4c9] dark:from-[#c9fffe] dark:to-[#00cfef] bg-clip-text text-transparent"
        >
          Frontend
        </h3>
        <ul class="grid grid-cols-3 gap-4 flex-grow">
          {
            MY_STACK.frontend.map((skill) => (
              <li class="rounded-2xl  group flex flex-col justify-center items-center">
                <skill.icon class="size-12 mb-2" />
                <span class="text-sm w-full text-center">{skill.name}</span>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="py-9 px-1">
      <div
        class="py-9 px-4 h-full flex flex-col justify-between relative rounded-2xl p-6 dark:border dark:border-dark-900"
      >
        <h3
          class="text-center mb-8 text-xl font-bold lg:text-4xl lg:break-words bg-gradient-to-t from-[#54fbff] to-[#00a4c9] dark:from-[#c9fffe] dark:to-[#00cfef] bg-clip-text text-transparent"
        >
          Backend
        </h3>
        <ul class="grid grid-cols-3 gap-4 flex-grow">
          {
            MY_STACK.backend.map((skill) => (
              <li class="rounded-2xl  group flex flex-col justify-center items-center">
                <skill.icon class="size-12 mb-2" />
                <span class="text-sm w-full text-center">{skill.name}</span>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="py-9 px-1 md:col-span-2">
      <div
        class="py-9 px-5 h-full flex flex-col justify-between relative rounded-2xl p-6 dark:border dark:border-dark-900"
      >
        <h3
          class="text-center mb-8 text-xl font-bold lg:text-4xl lg:break-words bg-gradient-to-t from-[#ffb272] to-[#ee4a08] dark:from-[#ffebd4] dark:to-[#fd6412] bg-clip-text text-transparent"
        >
          Aprendiendo
        </h3>
        <ul class="grid grid-cols-3 gap-4 flex-grow">
          {
            MY_STACK.learning.map((skill) => (
              <li class="rounded-2xl  group flex flex-col justify-center items-center">
                <skill.icon class="size-12 mb-2" />
                <span class="text-sm w-full text-center">{skill.name}</span>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="py-10 px-1 md:col-span-2">
      <div
        class="relative rounded-2xl p-6 dark:border dark:border-dark-900 py-4 px-4 h-full flex flex-col justify-between"
      >
        <h3
          class="text-center mb-8 text-xl font-bold lg:text-4xl lg:break-words bg-gradient-to-t from-[#75dbff] to-[#0072ab] dark:from-[#def3ff] dark:to-[#00a8e8] bg-clip-text text-transparent"
        >
          Herramientas
        </h3>
        <ul class="grid grid-cols-3 gap-4">
          {
            MY_STACK.tools.map((skill) => (
              <li class=" rounded-2xl  group flex flex-col fle justify-center items-center">
                <skill.icon class="size-12 mb-2" />
                <span class=" text-sm w-full text-center">{skill.name}</span>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
    <div class="md:hidden">
      <!-- Aquí va la tarjeta en una sola columna -->
    </div>
    <div class="md:hidden">
      <!-- Aquí va la tarjeta en una sola columna -->
    </div>
  </div>
</section>
